
<h1><%= @comment.content%></h1>
<% @comment.child_comments.each do |child|%>
  <%= child.child_comments.count %>
  <%= render 'comment_child', comment: child %>
<% end%>


<%= render 'nested', parent_comment: @comment %>
